@media screen and (min-width: 768px){
  .big-container{
      width: 65vw;
      position: fixed;
      bottom: 0;
      left: 10vw;
      overflow-y: auto;
      height: 90vh;

  }
  .inner-div{
    width: 80%;
    margin-left: 18%;
    height: fit-content;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loader{
  width: 25px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation{
  from{
    tranform : rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}