<app-nav ></app-nav>

<div class="big-container">
  <div class="post-div" *ngIf="!post">

    <div class="disclaimer p-8 text-center ml-5 my-4">
      <p>
        Post Not Found
      </p>
      <p>
        We looked everywhere, even under the couch, but this post is missing.
      </p>
    </div>


  </div>
<ng-container *ngIf="post">
<app-post [useRouterLink]="false" [post]="post"></app-post>

<!-- <div *ngFor="let post of comments_list" class="comments-container">
    <app-post [post]="post"></app-post>
 </div> -->


<div class="post-div">
  <div class="reply-form m-4">
    <!-- For logged users to be changed with auth present -->
    <form class="hidden" action="">
      <textarea class="p-4" placeholder="Add A Comment" name="" id="" cols="10" rows="10"></textarea>
      <svg class="end" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2.01 21L23 12L2.01 3L2 10l15 2l-15 2z"/></svg>
    </form>
  </div>
  <h2 class="text-left primary-text ml-4 md:ml-0">Replies</h2>

 <div *ngFor="let comment of comments_list let i=index" class="comment-container ml-5 p-2 mt-4">

  <a [routerLink]="['/user', comment.username]">
    <div class="flex items-center">
        <img class="mr-4 default-icon" [src]="comment.profile_image || 'https://png.pngtree.com/png-clipart/20210915/ourmid/pngtree-user-avatar-login-interface-abstract-blue-icon-png-image_3917504.jpg'" [alt]="post?.username + ' profile image'">
        <div>
            <p class="text-lg font-bold">{{comment.username}}</p>
            <p class="text-sm text-gray-500">
                <span>{{comment.created_at | date}}</span>
            </p>
        </div>
    </div>
  </a>
    <div>
      <p class="w3-margin-top">
          {{comment.content}}
      </p>
      <div class="d-flex flex-left mt-6 mx-4">
        <p class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15 20H9v-8H4.16L12 4.16L19.84 12H15v8Z"/></svg>
          <span>
            {{comment.likes_count}}
          </span>
        </p>
        <p class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path fill="currentColor" d="M1.5 0C.671 0 0 .67 0 1.5v8.993c0 .83.671 1.5 1.5 1.5h3.732l1.852 2.775a.5.5 0 0 0 .832 0l1.851-2.775H13.5c.829 0 1.5-.67 1.5-1.5V1.5c0-.83-.671-1.5-1.5-1.5h-12Z"/></svg>
          <span>
            {{comment.subcomments?.length}}
          </span>
        </p>
        <p>
          <svg (click)="toggleReplyForm(i)" class="comment-button" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 9V7.41c0-.89-1.08-1.34-1.71-.71L3.7 11.29a.996.996 0 0 0 0 1.41l4.59 4.59c.63.63 1.71.19 1.71-.7V14.9c5 0 8.5 1.6 11 5.1c-1-5-4-10-11-11z"/></svg>
        </p>



      </div>

      <form *ngIf="showCommentForm[i]">
        <p>Replying to {{ comment.username }}'s comment:</p>
        <textarea class="p-4" placeholder="Add A Comment" name="" id="" cols="10" rows="10"></textarea>
        <button type="button" (click)="cancelReplyForm(comment.comment_id)">Cancel</button>
        <button type="submit">Post</button>
      </form>



      <div  class="child-comment-container ml-8 p-4" *ngIf="comment?.subcomments">
        <div *ngFor="let comment of comment?.subcomments">
        <div class="user-info d-flex flex-left font-bold">
          <img class="default-icon" src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcQ7xetZazndXzsY-Wos8xN576trcmTX8gHc3wunT8NOh6a03Svy2LrQhrMvV7NVzbEkyXliR9pSMbuwO_4" alt="">
         <p>
          <b>{{comment.username}}</b>
          <br>
          <b>
          <span>
            {{comment.created_at | date}}
          </span>
          </b>
        </p>
        </div>

      <div>
        <p class="w3-margin-top">
            {{comment.content}}
        </p>
        <div class="d-flex flex-left mt-6 mx-4">
          <p class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15 20H9v-8H4.16L12 4.16L19.84 12H15v8Z"/></svg>
            <span>
              {{post.likes}}
            </span>
          </p>
          <p class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path fill="currentColor" d="M1.5 0C.671 0 0 .67 0 1.5v8.993c0 .83.671 1.5 1.5 1.5h3.732l1.852 2.775a.5.5 0 0 0 .832 0l1.851-2.775H13.5c.829 0 1.5-.67 1.5-1.5V1.5c0-.83-.671-1.5-1.5-1.5h-12Z"/></svg>
            <span>
              {{post.comments}}
            </span>
          </p>
        </div>


      </div>
    </div>
    </div>
  </div>

</div>

<div *ngIf="comments_list.length == 0">
  <p class="disclaimer p-8 text-center ml-5 my-4">
        Be The first to reply to this post
  </p>
</div>


</div>
</ng-container>
</div>







