
.comment-container, .child-comment-container{
  border-left: 2px solid var(--faint-orange);
}
.user-info{
  width: fit-content;;
}
.reply-form{

}
textarea{
  width: 92%;
  margin: auto;
  outline: none;
  border: solid 1px var(--faint-orange);
  resize: none;
}
.end{
  position: absolute;
  left: 80%;
}
@media screen and (min-width: 768px){
  .post-div{
    width: 80%;
    margin-left: 18%;
    height: fit-content;
  }

}


