<!-- <app-nav [showPostForm]="false" ></app-nav> -->
<div class="big-container">
  <div class="post-div" *ngIf="!post">
    <div class="disclaimer p-8 text-center ml-5 my-4">
      <p>
        Post Not Found
      </p>
      <p>
        We looked everywhere, even under the couch, but this post is missing.
      </p>
    </div>
  </div>

  <ng-container *ngIf="post">
    <app-post [useRouterLink]="false" [post]="post"></app-post>
  </ng-container>

  <div *ngIf="err" class="inner-div">
    <div class="disclaimer p-8 text-center ml-5 my-4">
      <p>
        We have a problem!
        This post seems to be lost in space.
      </p>
    </div>
  </div>

  <div *ngIf="!err" class="inner-div">
    <!-- <div *ngFor="let post of comments_list" class="comments-container">
      <app-post [post]="post"></app-post>
    </div> -->

    <div class="post-div">
      <div class="reply-form m-4">
        <!-- For logged users to be changed with auth present -->
        <form class="hidden" action="">
          <textarea class="p-4" placeholder="Add A Comment" name="" id="" cols="10" rows="10"></textarea>
          <svg class="end" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2.01 21L23 12L2.01 3L2 10l15 2l-15 2z"/></svg>
        </form>
      </div>
      <h2 class="text-left primary-text ml-4 md:ml-0">Replies</h2>

      <div *ngFor="let comment of comments_list; let i = index" class="comment-container ml-5 p-2 mt-4">
        <a [routerLink]="['/user', comment.username]">
          <div class="flex items-center">
            <img class="mr-4 default-icon" [src]="comment.profile_image || 'https://png.pngtree.com/png-clipart/20210915/ourmid/pngtree-user-avatar-login-interface-abstract-blue-icon-png-image_3917504.jpg'" [alt]="comment.username + ' profile image'">
            <div>
              <p class="text-lg font-bold">{{comment.username}}</p>
              <p class="text-sm text-gray-500">
                <span>{{comment.created_at | date}}</span>
              </p>
            </div>
          </div>
        </a>

        <div *ngIf="!err" class="post-div">
          <div *ngIf="logged; else notlogged" class="reply-form my-4 flex justify-center flex-col">
            <form class="" (ngSubmit)="submitComment(post?.post_id)" [formGroup]="addComment">
              <textarea class="textarea p-4" maxlength="280" placeholder="Add A Reply" name="content" formControlName="content" id="content" cols="10" rows="10"></textarea>
              <div class="flex justify-between items-center mx-4 bottom">
                <p>
                  <small class="mr-2 text-color"> {{getRemainingCharacters()}} remaining</small>
                </p>
                <button class="primary-button p-2.5" [disabled]="addComment.invalid">
                  Add reply
                </button>
              </div>
            </form>
          </div>
          <ng-template #notlogged>
            <div class="disclaimer p-8 text-center ml-5 my-4">
              <p>
                Login To Reply
              </p>
            </div>
          </ng-template>
        </div>

        <form *ngIf="showCommentForm[i]" (ngSubmit)="submitReply(comment.comment_id)">
          <p>Replying to {{ comment.username }}'s comment:</p>
          <textarea class="p-4" placeholder="Add A Reply" name="content" formControlName="content" id="content" cols="10" rows="10"></textarea>
          <div class="flex justify-between items-center mx-4 mt-4">
            <p><small class="mr-2 text-color">{{ getRemainingCharacters() }} remaining</small></p>
            <button type="button" (click)="cancelReplyForm(i)">Cancel</button>
            <button type="submit" class="primary-button p-2.5" [disabled]="addComment.invalid">Post Reply</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
