<div class="center">


    <form class="form p-4 mt-8 py-8" [formGroup]="updatePasswordForm" (ngSubmit)="resetPassword()">
      <h1 class="primary-text text-center mt-8">LinkUp</h1>
      <h2 class="text-center">Update Password</h2>
      <p *ngIf="message" class="p-3 primary-border-radius" [class]="className">
        {{ message }}
      </p>
      <div class="mt-8">
        <label for="password">New Password (minimum length of six)</label>
        <br>
        <input id="password" type="password" class="p-3 py-6" formControlName="password" />
      </div>

      <div class="mt-8">
        <button [disabled]="updatePasswordForm.invalid" type="submit" class="primary-button py-3 mt-4">
          Reset Password
        </button>
      </div>

      <div class="text-center">
        <p class="mt-8">
          Already have an account?
          <span class="primary-text underline">
            <a routerLink="/auth/login" routerLinkActive="active"> Log In</a>
          </span>
        </p>
        <p class="mt-8">
          Don't have an account?
          <span class="primary-text underline">
            <a routerLink="/auth/register" routerLinkActive="active"> Sign Up</a>
          </span>
        </p>
        <p class="mt-8 flex justify-center">
          Guest Scroll?
          <a routerLink="/home" routerLinkActive="active"><svg class="primary-text" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12.707 2.293a1 1 0 0 0-1.414 0l-7 7l-2 2a1 1 0 1 0 1.414 1.414L4 12.414V19a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-6.586l.293.293a1 1 0 0 0 1.414-1.414l-9-9Z" clip-rule="evenodd"/></svg></a>
        </p>
      </div>
    </form>

</div>
