<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white max-w-md w-full mx-auto rounded-lg shadow-md overflow-hidden">
    <div class="px-6 py-8">
      <h1 class="text-3xl font-bold text-center text-primary mb-8">LinkUp</h1>

      <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <h2 class="text-xl font-semibold text-center mb-4">Welcome Back</h2>

        <div *ngIf="showmessage" [ngClass]="{'text-green-800': className === 'success', 'text-red-600': className !== 'success'}" class="py-1 text-s">
          <p>{{ message }}</p>
        </div>

        <div>
          <label for="emailOrUsername" class="block text-sm font-medium text-gray-700">Username/Email</label>
          <input type="text" id="emailOrUsername" formControlName="emailOrUsername" class="mt-1 block w-full px-4 py-3 rounded-md focus:outline-none" />
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <input id="password" type="password" formControlName="password" class="mt-1 block w-full px-4 py-3 rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary"/>
        </div>

        <div>
          <button type="submit" class="w-full primary-button text-white rounded-md py-3 font-semibold hover:bg-primary-dark transition duration-300">
            Resume The Fun
          </button>
        </div>

        <div class="text-center">
          <p class="mt-4 text-sm">
            Don't have an account?
            <a routerLink="/auth/register" routerLinkActive="active" class="font-medium text-primary ml-1 hover:underline">Create Account</a>
          </p>

          <p class="mt-2 text-sm">
            Continue as guest?
            <a routerLink="/home" routerLinkActive="active" class="font-medium text-primary ml-1 hover:underline">
              <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-primary align-middle mr-1" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.707 2.293a1 1 0 0 0-1.414 0l-7 7l-2 2a1 1 0 1 0 1.414 1.414L4 12.414V19a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-6.586l.293.293a1 1 0 0 0 1.414-1.414l-9-9Z" clip-rule="evenodd"/>
              </svg>
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
