
input {
  border: solid 1px var(--bright-orange);
  outline: none;
}

input,button {
  width: 95%;
}

input{
  height: 36px;
  font-size: 1.5rem;
  border-radius: var(--smooth-edges);
}
.form{
  background-color: var(--grayish);
  margin: auto;
}
.m-container>div {
  width: 90vw;
  margin: auto;
  max-height: 100vh;
}

@media screen and (min-width: 768px) {
  .form{
    width: 40vw;
    margin: auto;
  }
}
.center{
  display: grid;
  place-items: center;
  height: 100vh;
}

.center{
  display: grid;
  place-items: center;
  height: 100vh;
}

button:disabled{background-color: var(--faint-orange);}

@media screen and (min-width: 768px){
  .form{
    width: 40vw;
    margin: auto;
    height: 90vh;


  }
}
