<app-nav></app-nav>
<div class="m-container big-container">
  <div class="inner-div">
    <form action="">
      <input type="text">
    </form>
    <h2>Random Suggestions</h2>
    <div class="scroll-horizontal flex gap-4 p-6">
      <div *ngFor="let user of users">
       <a [routerLink]="['/user', user.username]">
        <div class="user-card p-4 text-left">
          <img class="icon" [src]="user.profile_image" alt="">
          <p class="mt-3 ml-2">
            <b>{{ user.username }}</b>
          </p>
        </div>
       </a>
      </div>
    </div>

    <h2>With Almost Similar Names</h2>
    <div class="scroll-horizontal flex gap-4 p-6">
      <div *ngFor="let user of users">
       <a [routerLink]="['/user', user.username]">
        <div class="user-card p-4 text-left">
          <img class="icon" [src]="user?.profile_image" alt="">
          <p class="mt-3 ml-2">
            <b>{{ user.username }}</b>
          </p>
        </div>
       </a>
      </div>
    </div>



  </div>

</div>
