<select class="select" *ngIf="" class="ml-8" name="" id="" class="border border-gray-300 rounded-md p-1">
  <option value="">Home</option>
  <option value="">Popular</option>
  <option value="">FYP</option>
</select>
<div class="m-container big-container">
  <div class="inner-div">
      <input class="search-form mt-4" type="text" [(ngModel)]="searchTerm" (keyup)="onSearchKeyUp($event)" placeholder="Search by Username"/>
    <h2>Random Suggestions</h2>
    <div class="scroll-horizontal flex gap-4 p-6">
      <div *ngFor="let user of users | search: searchTerm">
       <a [routerLink]="['/user', user.username]">
        <div class="user-card p-4 text-left">
          <img class="icon" [src]="user.profile_image" alt="">
          <p class="mt-3 ml-2">
            <b>{{ user.username }}</b>
          </p>

          <p class="primary-text ml-2" *ngIf="user.follows_user">
            Following
          </p>

        </div>

       </a>
      </div>
    </div>

    <h2>With Almost Similar Names</h2>
    <div class="scroll-horizontal flex gap-4 p-6">
      <div *ngFor="let user of users | search: letter">
       <a [routerLink]="['/user', user.username]">
        <div class="user-card p-4 text-left">

          <img class="icon" [src]="user?.profile_image" alt="">

          <p class="mt-3 ml-2">
            <b>{{ user.username }}</b>
          </p>
          <p class="primary-text ml-2" *ngIf="user.follows_user">
            Following
          </p>
        </div>
       </a>
      </div>
    </div>



  </div>

</div>
