<app-nav></app-nav>

<div class="big-container">
  <div class="inner-div m-container">
      <h2 class="">This Is How Your Profile Is Viewed By by Others</h2>
      <div class="top-div p-4 m-0 ">
        <div class="flex justify-between items-center">
          <img class="img" src="https://media.newyorker.com/photos/64123041652f9d9fe976fff0/master/w_960,c_limit/ra1146.jpg" alt="">
          <p>
           <b>Harley Quinn</b>
          </p>
        </div>
         <div class="mt-4 w-3/4">
          <p class="flex justify-between">
            120 Followers

            <span>12 Following </span>
          </p>
          <p class="flex justify-between">
           40 Posts

            <span>12/12/2027</span>
          </p>
         </div>
      </div>
    <div class="edit-div p-4">
        <p>
          Edit
        </p>
        <form class="form " [formGroup]="editUserInformationForm" (ngSubmit)="editUserInfoFunc()">
          <div class="mt-4">
            <label for="user_bio">Bio</label>
            <br>
            <textarea id="user_bio" rows="5" cols="10" class="p-3 py-6" id="user_bio" formControlName="user_bio"> </textarea>
          </div>
          <div class="mt-8">
            <label for="username">Impresario (Profile picture)</label>
            <br>
            <input class="p-3 py-6" id="profile_url" type="file" accept="image/*" formControlName="profile_url"/>
          </div>
          <div class="mt-8">
            <button type="submit" class="primary-button py-3 mt-4">
               Update Details
            </button>
          </div>



      </form>
    </div>
  </div>
</div>
