<!-- <app-nav  [showPostForm]="false" ></app-nav> -->

<div class="big-container">
  <div class="inner-div m-container">
      <h2 class="mt-4 w-2/3">Your Current Info
      </h2>
      <div class="top-div p-4 m-0 ">
        <div class="pop-up" [ngClass]="messageClass">
          <p>{{message}}</p>
        </div>
        <div class="w-1/2 justify-between items-center">
          <img class="img" id="image_url" [src]="user.profile_image" [alt]="user.username">
          <p style="color:var(--black)">
           <b>{{user.username}}</b>
          </p>
        </div>
         <div class="mt-4 w-3/4">
          <p style="color:var(--black)" class="flex justify-between">
           <a routerLink="/people/followers">
            {{user.followers}}Followers
           </a>
           <a routerLink="/people/following">
            {{user.following}}Following
           </a>
          </p>
          <p style="color:var(--black)" class="flex justify-between">
            <a  [routerLink]="['/user', user.username]" >
              {{user.posts}}Posts
            </a>
            <span>{{user.joined_at | date: 'dd/MM/yyyy'}}</span>
          </p>
         </div>
      </div>
    <div class="edit-div p-4">
        <p>
          Edit
        </p>
        <form class="form " [formGroup]="editUserInformationForm" (ngSubmit)="editUserInfoFunc()">
          <div class="mt-4">
            <label for="user_bio">Bio</label>
            <br>
            <textarea id="user_bio" rows="5" cols="10" class="p-3 py-6" id="user_bio" formControlName="bio"> </textarea>
          </div>
          <div class="mt-8">
            <label for="profile_image">Impresario (Profile picture)</label>
            <br>
           <div class="image-input p-3 py-6 text-center">
            <input class="" id="profile_image" type="file" accept="image/*" (change)="uploadImageF($event)" formControlName="profile_image"/>
            <img [src]="imagePreview" alt="Image Preview" *ngIf="imagePreview" class="mt-3 img-preview">
           </div>
          </div>
          <div class="mt-8">
            <button [disabled]="editUserInformationForm.pristine" type="submit" class="primary-button py-3 mt-4">
               Update Details
            </button>
          </div>



      </form>
    </div>
  </div>
</div>
