.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;

}
.nav{
  padding: 12px;
  text-align: center;
  border-bottom: solid 0.5px var(--orange-red);
  position: -webkit-sticky;
  position:sticky;
  top: 0;
  background-color: var(--white);

}
.nav p{
  margin-top: 12px;
}

.side-menu{
  background-color: var(--faint-orange);
  width: 80%;
  padding: 36px;
  position: fixed;
  top: 8px;
  height: 98vh;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
  color: var(--black);
}
.side-1{
  z-index: 2;
}
.side-1 li{
  padding: 18px;
}
.side-2 .list{
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-2 a{
  display: flex;

}
.side-2 {
  padding: 6px;
  height: auto;
  border: none;
}
.side-2 a{
  height: auto;
  padding: 6px;
}
.active{
  background-color: var(--bright-orange);

}
.log-out{
  position: absolute;
  bottom: 2%;
}
.side-icon{
  width: 72px;
  height: 72px;
  border-radius: 50%;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}
.backdrop2{
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}
li a{
  display: flex;
  cursor: pointer;
}
.big-screen{
  height: 80vh;
  width: 18vw;
  position: absolute;
  /* right: 1%; */
  right: 0;
  display: none;


}
.big-screen-jnr{
  height: 60vh;
  background-color: var(--faint-orange);
  color: var(--black);

}
.circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--bright-orange);
  margin: auto;
}
.small-screen-hidden{
    display: none;
}
.side-2{
   display: none;
}
.small-circle{
  position: fixed;
  bottom: 0;
  right: 0;
}
.form{
  width: 80vw;
  margin: auto;
  z-index: 4;
  background-color: var(--white);
  border-radius: var(--smooth-edges);
  position: fixed;
  left: 10vw;
  top: 12%;

}
.textarea, input{
  background-color: var(--grayish);
  border-radius: var(--smooth-edges);
  outline: none;
  width: 100%;
  resize: none;
  font-size: 1.25rem;
}

.button{
  background-color: var( --black);
  border-radius: var(--smooth-edges);
  color: var(--white);
  padding: 6px 6px;
  text-align: center;
}
.dark-nav{
  background-color: var(--shade-of-blue);
  color: var(--white);
}
/* .light-nav{
  background-color: var(--white);
  color: var(--black);
} */

@media (min-width: 769px) and (max-width: 1050px) {
 .pop{
  display: none;
 }
}
@media screen and (min-width: 768px){
  .flex-container{
    width: 100vw;
    margin: auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .big-screen{
    display: block;
  }
  .side-menu{
    width: 45%;
    left: 10%;
  }
  .small-screen-hidden{
    display: block;
    background-color: var(--white);

  }
  .small-screen-hidden input{
    border: none;
    background-color: var(--white);
    border-bottom: 1px solid var(--bright-orange);
  }
  .side-menu{
    display: block;
    /* width: 16vw; */
    width: 17.5vw;
    position: absolute;
    left: 0;
    top: 10%;
    height: 90%;
    padding: 0;
  }
  .hide{
    display: none;
  }
  .side-2{
    display: block;
  }
  .small-circle{
    display: none;
  }
  .form{
    width: 50vw;
    position: absolute;
    left: 20vw;
    top: 16px;
    height: fit-content;
    color: var(--black);
  }
  .form svg{
    color: var(--black);
  }
  textarea, input{
    width: 100%;
  }
  ul {
    margin: 0 !important;
  }
  ul li{
    width: 80%;
    margin: auto;
    height: 5px;
  }
  .button{
    width: 80%;
    margin-left: 10%;
  }
  .backdrop-1{
    display: none;
  }


}
