/* @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Outfit:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Outfit', sans-serif;
    font-family: 'Irish Grover', cursive; */
    font-family: 'Averia Gruesa Libre', cursive !important;
}

:root{
  --bright-orange: #FFA500;
  /* --bright-orange: #ECE1CF; */
  --faint-orange: #ECE1CF;
  --grayish: #F5F5F5;
  --white: #fff;
  --black: #000;
  --shade-of-blue: #243447;
  --smooth-edges: 10px;
  --orange-red: #A88A8A;
  --warning: rgb(225, 75, 75);
  --okay: rgb(79, 241, 79);
  --backdrop:  rgba(36, 52, 71,0.5);

}
body{
  font-size: 16px;
  text-transform: capitalize;
}
h1{
  font-size: 2.5rem;
}
h2{
   font-size: 2rem;
}
.primary-button{
  border-radius: var(--smooth-edges);
  background-color: var(--bright-orange);
  color: var(--black);

}
.primary-border-radius{
  border-radius: var(--smooth-edges);
}
.primary-text{
  color: var(--bright-orange);
}
.default-icon{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.m-container{
  max-width: 95vw;
  margin: auto;
}
.d-flex{
  display: flex;
}
.flex-left{
  flex-direction: row;
  justify-content: space-between;
}
.border-bottom{
  border-bottom: solid 1px var(--faint-orange);
}
.grayish-background{
    background-color: var(--grayish);
}
.success,.error{
  background-color: var(--okay);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}
.error{
  background-color: var( --warning);
  color: var(--white);
}
.pop-up{
  position: fixed;
  right: 2%;
  padding: 12px;
  margin-top: 1%;
}
.img-preview{
  width: 30%;
  height: 30%;
}
@media screen and (min-width: 768px){
  .m-container{
    width: 85vw;

  }
  .pop-up{
    right: calc(20vw + 2%);
  }

}

::-webkit-scrollbar {
  width: 8px;
  margin: 8px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid var(--bright-orange);
  background-color: var(--bright-orange) ;
  border-radius: var(--smooth-edges);

}

::-webkit-scrollbar-track {
  background-color: var(--grayish);
}


body {
  scrollbar-color: var(--bright-orange) var(--white);
  scrollbar-width: thin;
}
*::selection{
  background-color: var(--bright-orange);
}
.light-mode{
  background-color: var(--white) ;
  color: var(--black);

}
input,textarea{
  color: var(--black);
}
.disclaimer{
  border-left: 4px solid var(--bright-orange);
  background-color: var(--faint-orange);
  color: var(--black);
}

.search-form{
  color: var(--black);
  outline: none;
  border: none;
  border-bottom: 2px solid var(--bright-orange);

}
button:disabled{
  background-color: var(--grayish);
  cursor: not-allowed;
  color: var(--black);
}
.color{
  background-color: var(--bright-orange)!important;
  color: var(--black);
}
.text-color{
  color: var(--black);
}
.dark-mode{
  background-color: var(--shade-of-blue);
  color: var(--white);
}
